@using FewMain.WebHelper.CurrentContext
<!--右侧客服导航开始-->
<div class="chat_f1">
    <div class="chat_f1_expr" style="height: 800px; display: block;">
        <!------------>
        <div class="list">
            <b><img src="~/Content/images/base/1_03.png"/></b>
            @if (CurrentUserContext.Current.IsLogin)
            {
                <div class="detail" style="width: 136px; margin-left: -136px; height: 200px;">
                    <span class="mem">
                        <img src="~/Content/images/base/1_01.png" />
                        <li><a href="@Url.Action("LoginOut","Account")" target="_top">退出</a></li>
                        <li><a href="@Url.Action("Index","Member")" target="_blank">会员中心</a></li>
                    </span>
                </div>
            }
            else
            {
                <div class="detail" style="width: 136px; margin-left: -136px; height: 200px; display: none;">
                    <span class="mem">
                        <img src="http://www.qydiamond.com/Public/home/images/qq/1_01.png">
                        <li><a href="@Url.Action("Register", "Account")" target="_blank">注册</a></li>
                        <li><a href="@Url.Action("Login","Account")" target="_blank">登陆</a></li>
                    </span>
                </div>
            }
           
            
        </div>
        <!------------>
        <div class="list kf1">
            <b><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2047753273&amp;site=qq&amp;menu=yes"><img src="~/Content/images/base/1_11.png" /></a></b>
            <div class="detail" style="width:150px;  margin-left:-150px; margin-top:-100px;">
                <span class="kf">
                    <h6>客服中心</h6>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2047753273&amp;site=qq&amp;menu=yes" class="one">客服咨询</a>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2047753273&amp;site=qq&amp;menu=yes" class="one">客服咨询</a>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=929327063&amp;site=qq&amp;menu=yes" class="one">客服咨询</a>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2559364384&amp;site=qq&amp;menu=yes" class="two">用户反馈</a>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2559364384&amp;site=qq&amp;menu=yes" class="two">售后服务</a>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=929327063&amp;site=qq&amp;menu=yes" class="two">招商部经理</a>
                </span>
            </div>
        </div>
        <!------------>
        <div class="list">
            <b><a target="_blank" href="@Url.Action("index","Cart")"><img src="~/Content/images/base/1_05.png" /></a></b>
            <div class="detail" style="width:136px;  margin-left:-136px; ">
                <span class="mem" style="height:120px;">
                    购物车数量为
                    <b> 0&nbsp;<font style="font-weight:lighter">件商品</font></b>
                    <li><a href="@Url.Action("index","Cart")" target="_blank">购物车</a> </li>
                </span>
            </div>
        </div>
        <!------------>
        <div class="list">
            <b><a target="_blank" href="@Url.Action("Index","Order")"><img src="~/Content/images/base/1_07.png" /></a></b>
            <div class="detail">
                <span><a target="_blank" href="@Url.Action("Index","Order")">我的订单</a></span>
            </div>
        </div>
        <!------------>
        <!---------------------------------------------------------------->
        <div class="list" style="margin-top:160px;">
            <b>
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=657525650&amp;site=qq&amp;menu=yes"><img src="~/Content/images/base/1_13.png" /></a>
            </b>
            <div class="detail">
                <span>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=657525650&amp;site=qq&amp;menu=yes">用户反馈</a>
                </span>
            </div>
        </div>

        <div class="list">
            <b>
                <a target="_blank" href="http://www.qydiamond.com/diamond/index/nid/2.html"><img src="~/Content/images/base/1_14.png" /></a>
            </b>
            <div class="detail" style="width:200px; margin-top:-210px; margin-left:-200px; height:210px;">
                <!-- JiaThis Button BEGIN -->
                <div id="jiathis_sers" class="jiadiv_02">
                    <h6>分享给我的好友们</h6>
                    <a class="jiatitle" onclick="jiathis_sendto(&#39;tsina&#39;);return false;" href="javascript:;"><img src="~/Content/images/base/f1.png" />新浪微博</a>
                    <a class="jiatitle" onclick="jiathis_sendto(&#39;weixin&#39;);return false;" href="javascript:;"><img src="~/Content/images/base/f2.png" />微信</a>
                    <a class="jiatitle" onclick="jiathis_sendto(&#39;qzone&#39;);return false;" href="javascript:;"><img src="~/Content/images/base/f8.png" />QQ空间</a>
                    <a class="jiatitle" onclick="jiathis_sendto(&#39;tqq&#39;);return false;" href="javascript:;"><img src="~/Content/images/base/f4.png" />腾讯微博</a>
                    <a class="jiatitle" onclick="jiathis_sendto(&#39;renren&#39;);return false;" href="javascript:;"><img src="~/Content/images/base/f10.png" />人人网</a>
                    <a class="jiatitle" onclick="jiathis_sendto(&#39;cqq&#39;);return false;" href="javascript:;"><img src="~/Content/images/base/f5.png" />QQ好友</a>
                </div>
                <!-- JiaThis Button END -->
            </div>
        </div>
        <!------------>
        <div class="list">
            <b><img src="~/Content/images/base/1_15.png" /></b>
            <div class="detail" style="width:136px; margin-top:-260px; margin-left:-136px; height:200px;">
                <span>
                    <img src="~/Content/images/base/ws.png" />
                </span>
            </div>
        </div>
        <!------------>
        <div class="list">

            <b><a href="http://www.qydiamond.com/diamond/index/nid/2.html#"><img src="~/Content/images/base/1_18.png" /></a></b>
            <div class="detail"><span><a href="http://www.qydiamond.com/diamond/index/nid/2.html#">返回顶部</a></span></div>
        </div>
    </div>
</div>
<!--右侧客服导航结束-->
